:root {
    --color1: #19021c;
    --color2: #581661;
    --color3: #400a47;
    --color4: #4710ad;
    --color5: #E0E0E0;
    --color6: #ADD8E6;
  }
  
  body {
    background-color: var(--color1);
    height: 80vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 10px;
  }
  
  h1 {
    color: var(--color5);
    font-size: 2.5rem;
    font-family: serif;
  }
  
  .container {
    height: 250px;
    width: 450px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container p {
    color: var(--color5);
    font-size: 1.6rem;
  }
  
  #number, #convert-btn {
    height: 25%;
    width: 85%;
    margin-bottom: 20px;
    font-size: 2.2rem;
  }
  
  #number {
    text-align: center;
    background-color: var(--color3);
    color: var(--color5);
  }
  
  #convert-btn {
    font-size: 1.6rem;
    background-color: var(--color4);
    color: var(--color6);
  }
  
  .result {
    width: 450px;
    padding: 10px;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .result #output {
    text-align: center;
    font-size: 2rem;
  }